extends layout

block content
  link(rel='stylesheet', href='/stylesheets/user-home.css')
  body
    nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
      a(class="navbar-brand" href="/user-home") Vote4
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarCollapse")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="/user-home") Home 
              span(class="sr-only") (current)
          li(class="nav-item")
            a(class="nav-link" href="/") Logout
      a(class="nav-link" href="/user-home") #{user.firstName}
    main(role="main")
      div(class="jumbotron jubotron-fluid")
        div(class="container")
          div(class="center-div")
            h1(class="display-4") Dashboard
            p(class="lead") What would you like to do today?
            a(class="btn btn-lg btn-dark" href="/new-poll" role="button") New Poll &raquo;
            a(class="btn btn-lg btn-dark" href="/my-polls" role="button") My Polls &raquo;
    //- script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"/script
    //- scriptwindow.jQuery || document.write('script src="../../../..ssets/js/vendor/jquery-slim.min.js"\/script')/script
    //- script src="../../../..ssets/js/vendor/popper.min.js"/script
    //- script src="../../../../dist/js/bootstrap.min.js"/script